@{
    ViewBag.Title = "About";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title></title>
    <style type="text/css">
        table {
            border: 2px solid #ccc;
            border-collapse: collapse;
            text-align: center;
        }

        tr, th, td {
            width: 80px;
            height: 30px;
            border: 1px solid #ccc;
            font-size:15px;
        }
    </style>
</head>
<body>
    <table style="align-content:center ">
        <caption style="font-size:50px;margin-left:170px;">课程表</caption>
        <thead>
            <tr>
                <th></th>
                <th>星期一</th>
                <th>星期二</th>
                <th>星期三</th>
                <th>星期四</th>
                <th>星期五</th>
            </tr>

        </thead>
        <tbody>
            <tr>
                <td rowspan="3">上午</td>
                <td>数学 <br /> **老师</td>
                <td>英语 <br /> **老师</td>
                <td>语文 <br /> **老师</td>
                <td>数据结构 <br /> **老师</td>
                <td>前端开发 <br /> **老师</td>
            </tr>
            <tr>
                <td>数学</td>
                <td>英语</td>
                <td>语文</td>
                <td>数据结构</td>
                <td>前端开发</td>
            </tr>
            <tr>

                <td>数学</td>
                <td>英语</td>
                <td>语文</td>
                <td>数据结构</td>
                <td>前端开发</td>
            </tr>
            <tr>
                <td rowspan="3">下午</td>
                <td>数学</td>
                <td>英语</td>
                <td>语文</td>
                <td>数据结构</td>
                <td>前端开发</td>
            </tr>
            <tr>
                <td>数学</td>
                <td>英语</td>
                <td>语文</td>
                <td>数据结构</td>
                <td>前端开发</td>
            </tr>
            <tr>

                <td>数学</td>
                <td>英语</td>
                <td>语文</td>
                <td>数据结构</td>
                <td>前端开发</td>
            </tr>
        </tbody>
    </table>
</body>
</html>
